
@{
    ViewBag.Title = "GET_TrangChu";
}

<div class="container col-sm-12" style="margin: 2rem;">
    <div class="row col-sm-12">
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Học Viên </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Lớp Học </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Khóa Học </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Ngành Học </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Môn Học </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Đề Thi </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light bg-primary"><h5 style="width: 10rem;"> Câu Hỏi </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary bg-primary"></div>
        </div>
        <div class="card bg-light" style="margin: 1rem;">
            <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Người Dùng </h5></div>
            <div class="card-body text-center"><h2>06</h2></div>
            <div class="card-footer bg-primary "></div>
        </div>
    </div>
</div>
