USE [master]
GO
/****** Object:  Database [DB_DATN_QS]    Script Date: 15/05/2021 16:44:22 ******/
CREATE DATABASE [DB_DATN_QS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_DATN_QS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_DATN_QS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_DATN_QS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_DATN_QS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_DATN_QS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_DATN_QS]
GO
/****** Object:  Table [dbo].[BANG_DIEM]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_DIEM](
	[ID_BangDiem] [int] NOT NULL,
	[ID_HocVien] [int] NULL,
	[ID_DeThi] [int] NULL,
	[DIEM_BangDiem] [int] NULL,
	[TGIAN_BangDiem] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_BANG_DIEM] PRIMARY KEY CLUSTERED 
(
	[ID_BangDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAU_HOI]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HOI](
	[ID_CauHoi] [int] NOT NULL,
	[NDUNG_CauHoi] [ntext] NULL,
	[ANH_CauHoi] [image] NULL,
	[LCHON_1] [ntext] NULL,
	[LCHON_2] [ntext] NULL,
	[LCHON_3] [ntext] NULL,
	[LCHON_4] [ntext] NULL,
	[LCHON_Dung] [ntext] NULL,
	[ID_Chuong] [int] NULL,
	[ID_MonHoc] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_CAU_HOI] PRIMARY KEY CLUSTERED 
(
	[ID_CauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DE_THI]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DE_THI](
	[ID_CTDeThi] [int] NOT NULL,
	[ID_CauHoi] [int] NULL,
	[ID_DeThi] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_CT_DE_THI] PRIMARY KEY CLUSTERED 
(
	[ID_CTDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_LOP_HOC]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LOP_HOC](
	[ID_CTLopHoc] [int] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[ID_HocVien] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_CT_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[ID_CTLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DE_THI]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_THI](
	[ID_DeThi] [int] NOT NULL,
	[MA_DeThi] [nchar](20) NULL,
	[TEN_DenThi] [nvarchar](50) NULL,
	[ID_LBaiThi] [int] NULL,
	[ID_MonHoc] [int] NULL,
	[PASS_DeThi] [nchar](32) NULL,
	[TGIAN_DeThi] [int] NULL,
	[IS_Locked] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_DE_THI] PRIMARY KEY CLUSTERED 
(
	[ID_DeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_VIEN]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_VIEN](
	[ID_HocVien] [int] NOT NULL,
	[MA_HocVien] [nchar](20) NULL,
	[TEN_HocVien] [nvarchar](50) NULL,
	[NSINH_HocVien] [date] NULL,
	[GTINH_HocVien] [int] NULL,
	[ANH_HocVien] [image] NULL,
	[ID_TaiKhoan] [int] NULL,
 CONSTRAINT [PK_HOC_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID_HocVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA_HOC]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_HOC](
	[ID_KhoaHoc] [int] NOT NULL,
	[MA_KhoaHoc] [nchar](20) NULL,
	[TEN_KhoaHoc] [nvarchar](50) NULL,
	[NOTE_KhoaHoc] [ntext] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_KHOA_KHOI] PRIMARY KEY CLUSTERED 
(
	[ID_KhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_BAI_THI]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_BAI_THI](
	[ID_LBaiThi] [int] NOT NULL,
	[MA_LBaiThi] [nchar](20) NULL,
	[TEN_LBaiThi] [nvarchar](50) NULL,
	[NOTE_LBaiThi] [ntext] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_LOAI_BAI_THI] PRIMARY KEY CLUSTERED 
(
	[ID_LBaiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[ID_LopHoc] [int] NOT NULL,
	[MA_LopHoc] [nchar](20) NULL,
	[TEN_LopHoc] [nvarchar](50) NULL,
	[ID_NganhHoc] [int] NULL,
	[ID_NienKhoa] [int] NULL,
	[ID_KhoaHoc] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[ID_MonHoc] [int] NOT NULL,
	[MA_MonHoc] [nchar](20) NULL,
	[TEN_MonHoc] [nvarchar](50) NULL,
	[NOTE_MonHoc] [ntext] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[ID_MonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH_HOC]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH_HOC](
	[ID_NganhHoc] [int] NOT NULL,
	[MA_NganhHoc] [nchar](20) NULL,
	[TEN_NganhHoc] [nvarchar](50) NULL,
	[NOTE_NganhHoc] [ntext] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_NGANH_HOC] PRIMARY KEY CLUSTERED 
(
	[ID_NganhHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[ID_NguoiDung] [int] NOT NULL,
	[MA_NguoiDung] [nchar](20) NULL,
	[TEN_NguoiDung] [nvarchar](50) NULL,
	[NSINH_NguoiDung] [date] NULL,
	[MAIL_NguoiDung] [nchar](50) NULL,
	[ANH_NguoiDung] [image] NULL,
	[ID_TaiKhoan] [int] NULL,
 CONSTRAINT [PK_NGUOI_DUNG] PRIMARY KEY CLUSTERED 
(
	[ID_NguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NIEN_KHOA]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIEN_KHOA](
	[ID_NienKhoa] [int] NOT NULL,
	[MA_NienKhoa] [nchar](20) NULL,
	[TEN_NienKhoa] [nvarchar](50) NULL,
	[NOTE_NienKhoa] [ntext] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_NIEN_KHOA] PRIMARY KEY CLUSTERED 
(
	[ID_NienKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 15/05/2021 16:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID_TaiKhoan] [int] NOT NULL,
	[USER_TaiKhoan] [nchar](20) NULL,
	[PASS_TaiKhoan] [nchar](32) NULL,
	[NOTE_TaiKhoan] [ntext] NULL,
	[IS_Locked] [int] NULL,
	[IS_Deleted] [int] NULL,
	[TIME_Create] [date] NULL,
	[TIME_Update] [date] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CAU_HOI] ([ID_CauHoi], [NDUNG_CauHoi], [ANH_CauHoi], [LCHON_1], [LCHON_2], [LCHON_3], [LCHON_4], [LCHON_Dung], [ID_Chuong], [ID_MonHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'Cho 4 số nguyên. Cần tối thiểu bao nhiêu phép so sánh để luôn có thể sắp xếp 4 số này theo thứ tự tăng dần?', NULL, N'3', N'4', N'5', N'6', N'6', 1, 12, 0, CAST(N'2021-05-13' AS Date), CAST(N'2021-05-13' AS Date))
GO
INSERT [dbo].[CT_LOP_HOC] ([ID_CTLopHoc], [ID_LopHoc], [ID_HocVien], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, 5, 1, 0, CAST(N'2020-11-20' AS Date), CAST(N'2020-11-20' AS Date))
INSERT [dbo].[CT_LOP_HOC] ([ID_CTLopHoc], [ID_LopHoc], [ID_HocVien], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, 1, 2, 0, CAST(N'2020-11-20' AS Date), CAST(N'2020-11-20' AS Date))
INSERT [dbo].[CT_LOP_HOC] ([ID_CTLopHoc], [ID_LopHoc], [ID_HocVien], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, 1, 3, 0, CAST(N'2020-11-20' AS Date), CAST(N'2020-11-20' AS Date))
GO
INSERT [dbo].[HOC_VIEN] ([ID_HocVien], [MA_HocVien], [TEN_HocVien], [NSINH_HocVien], [GTINH_HocVien], [ANH_HocVien], [ID_TaiKhoan]) VALUES (2, N'5851071015          ', N'Nguyen Hoang Son', CAST(N'2003-07-26' AS Date), 1, NULL, 2)
INSERT [dbo].[HOC_VIEN] ([ID_HocVien], [MA_HocVien], [TEN_HocVien], [NSINH_HocVien], [GTINH_HocVien], [ANH_HocVien], [ID_TaiKhoan]) VALUES (3, N'5851071016          ', N'Nguyen Thi Thuy Duong', CAST(N'1998-01-01' AS Date), 0, NULL, 4)
GO
INSERT [dbo].[KHOA_HOC] ([ID_KhoaHoc], [MA_KhoaHoc], [TEN_KhoaHoc], [NOTE_KhoaHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'K58                 ', N'Khóa 58', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[KHOA_HOC] ([ID_KhoaHoc], [MA_KhoaHoc], [TEN_KhoaHoc], [NOTE_KhoaHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'K59                 ', N'Khóa 59', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[KHOA_HOC] ([ID_KhoaHoc], [MA_KhoaHoc], [TEN_KhoaHoc], [NOTE_KhoaHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'K60                 ', N'Khóa 60', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
GO
INSERT [dbo].[LOAI_BAI_THI] ([ID_LBaiThi], [MA_LBaiThi], [TEN_LBaiThi], [NOTE_LBaiThi], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'KTHK_CHUNG          ', N'Thi Kết Thúc Học Kỳ', N'Trống', 1, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[LOAI_BAI_THI] ([ID_LBaiThi], [MA_LBaiThi], [TEN_LBaiThi], [NOTE_LBaiThi], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'KTGK_CHUNG          ', N'Kiểm Tra Giữa Kỳ', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[LOAI_BAI_THI] ([ID_LBaiThi], [MA_LBaiThi], [TEN_LBaiThi], [NOTE_LBaiThi], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'Loai12              ', N'LOẠI 12', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
GO
INSERT [dbo].[LOP_HOC] ([ID_LopHoc], [MA_LopHoc], [TEN_LopHoc], [ID_NganhHoc], [ID_NienKhoa], [ID_KhoaHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'CNTT.CQ.58          ', N'Công Nghệ Phần Mềm', 1, 1, 1, 0, CAST(N'2020-11-20' AS Date), CAST(N'2020-11-20' AS Date))
INSERT [dbo].[LOP_HOC] ([ID_LopHoc], [MA_LopHoc], [TEN_LopHoc], [ID_NganhHoc], [ID_NienKhoa], [ID_KhoaHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'TDH.CQ.59           ', N'Tự Động Hóa', 2, 2, 2, 0, CAST(N'2020-11-20' AS Date), CAST(N'2020-11-20' AS Date))
INSERT [dbo].[LOP_HOC] ([ID_LopHoc], [MA_LopHoc], [TEN_LopHoc], [ID_NganhHoc], [ID_NienKhoa], [ID_KhoaHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'CDB1.CQ.58          ', N'Cầu Đường Bộ 1', 3, 1, 1, 0, CAST(N'2020-11-20' AS Date), CAST(N'2020-11-20' AS Date))
GO
INSERT [dbo].[MON_HOC] ([ID_MonHoc], [MA_MonHoc], [TEN_MonHoc], [NOTE_MonHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'ATBMTT.CQ           ', N'An Toàn Bảo Mật Thông Tin', N'Trống', 0, CAST(N'2021-05-11' AS Date), CAST(N'2021-05-11' AS Date))
INSERT [dbo].[MON_HOC] ([ID_MonHoc], [MA_MonHoc], [TEN_MonHoc], [NOTE_MonHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'LTNC.CQ             ', N'Lập Trình Nâng Cao', N'Trống', 0, CAST(N'2021-05-11' AS Date), CAST(N'2021-05-11' AS Date))
INSERT [dbo].[MON_HOC] ([ID_MonHoc], [MA_MonHoc], [TEN_MonHoc], [NOTE_MonHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'LTTQ.CQ             ', N'Lập Trình Trực Quan', N'Trống', 0, CAST(N'2021-05-11' AS Date), CAST(N'2021-05-11' AS Date))
GO
INSERT [dbo].[NGANH_HOC] ([ID_NganhHoc], [MA_NganhHoc], [TEN_NganhHoc], [NOTE_NganhHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'CNTT_MP             ', N'Công nghệ thông tin', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[NGANH_HOC] ([ID_NganhHoc], [MA_NganhHoc], [TEN_NganhHoc], [NOTE_NganhHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'TDH_DDT             ', N'Tự Động Hóa', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-12' AS Date))
INSERT [dbo].[NGANH_HOC] ([ID_NganhHoc], [MA_NganhHoc], [TEN_NganhHoc], [NOTE_NganhHoc], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'CDB_GT              ', N'Cầu Đường Bộ', N'Trống', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-12' AS Date))
GO
INSERT [dbo].[NGUOI_DUNG] ([ID_NguoiDung], [MA_NguoiDung], [TEN_NguoiDung], [NSINH_NguoiDung], [MAIL_NguoiDung], [ANH_NguoiDung], [ID_TaiKhoan]) VALUES (2, N'68520445            ', N'Quản Trị Viên', CAST(N'1996-04-01' AS Date), N'quantrivien@vietmail.vn                           ', NULL, 5)
GO
INSERT [dbo].[NIEN_KHOA] ([ID_NienKhoa], [MA_NienKhoa], [TEN_NienKhoa], [NOTE_NienKhoa], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'NK_1920             ', N'2019-2020', N'None', 0, CAST(N'2018-06-15' AS Date), CAST(N'2018-06-15' AS Date))
INSERT [dbo].[NIEN_KHOA] ([ID_NienKhoa], [MA_NienKhoa], [TEN_NienKhoa], [NOTE_NienKhoa], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'NK_2021             ', N'2020-2021', N'None', 0, CAST(N'2018-06-15' AS Date), CAST(N'2021-05-10' AS Date))
INSERT [dbo].[NIEN_KHOA] ([ID_NienKhoa], [MA_NienKhoa], [TEN_NienKhoa], [NOTE_NienKhoa], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'NK_2122             ', N'2021-2022', N'None', 0, CAST(N'2021-05-10' AS Date), CAST(N'2021-05-10' AS Date))
GO
INSERT [dbo].[TAI_KHOAN] ([ID_TaiKhoan], [USER_TaiKhoan], [PASS_TaiKhoan], [NOTE_TaiKhoan], [IS_Locked], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (1, N'TaiKhoan1           ', N'e10adc3949ba59abbe56e057f20f883e', N'None', 1, 0, CAST(N'2020-01-12' AS Date), CAST(N'2021-05-12' AS Date))
INSERT [dbo].[TAI_KHOAN] ([ID_TaiKhoan], [USER_TaiKhoan], [PASS_TaiKhoan], [NOTE_TaiKhoan], [IS_Locked], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (2, N'TaiKhoan2           ', N'25f9e794323b453885f5181f1b624d0b', N'None', 0, 0, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-01' AS Date))
INSERT [dbo].[TAI_KHOAN] ([ID_TaiKhoan], [USER_TaiKhoan], [PASS_TaiKhoan], [NOTE_TaiKhoan], [IS_Locked], [IS_Deleted], [TIME_Create], [TIME_Update]) VALUES (3, N'ThanhHa34           ', N'e10adc3949ba59abbe56e057f20f883e', N'None', 0, 0, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-01' AS Date))
GO
USE [master]
GO
